@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  font-family: "Avenir Next", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  --background: #26262b;
  --foreground: rgba(255, 255, 255, 0.87);
  --border: #e5e5e5;

  color: var(--foreground);
  background-color: var(--background);
  border-color: var(--border);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

.split-gradient {
  @apply bg-linear-to-b from-[#fefefe] from-50% to-[#26262b] to-50%;
}

.split-gradient-reverse {
  @apply bg-linear-to-t from-[#fefefe] from-50% to-[#26262b] to-50%;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
